


<% if signed_in? %>

  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="micropost">What's up?</h1>
        <%= render 'shared/micropost_form' %>
        <%= render 'shared/feed' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
        <%= render 'shared/stats' %>
      </td>
    </tr>

<tr>	
	
	It's <%= Time.now %><br>
	Session User: <%=current_user.name%>, ID: <%=current_user.id%><br>

	We have <%=link_to pluralize(current_user.patentcases.count, "Patentcase"), patentcases_path %>.
</tr>


  </table>

<% else %>

<h1>IveyLaw.org</h1>
<p>
  This is the home page for the <a href="http://iveylaw.org/"> Docket </a>
</p>

<%= link_to "Sign in", signin_path %>

<% end %>