<h1>
Listing Reminders
<% unless session[:patentcase].nil? then %>
   for <%=link_to Patentcase.find(session[:patentcase]).attorneydocket, Patentcase.find(session[:patentcase]) %>
   </a>
   <% unless session[:action].nil? then %>

      :: <%=link_to Type.find(Aaction.find(session[:action]).type_id).descrp+" ("+Aaction.find(session[:action]).dtmailing.to_s+")", Aaction.find(session[:action])%>
      
      </a>
   <% end %>
<% end %>
</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Case</th>
    <th>Note</th>
  </tr>

<% @reminders.each do |reminder| %>
   <tr>
      <td>
         <%= h reminder.due_date %>
         <% unless reminder.dtrmdr.blank? %>
            (<%= h reminder.dtrmdr %>)
         <% end %>
      </td>
      <td>
         <% if reminder.aaction_id.blank? then %>
            <%= h reminder.patentcase.attorneydocket %>
         <% else %>
            <%= h reminder.aaction.patentcase.attorneydocket %>
         <% end %>
      </td>
      <td><%= h reminder.note %></td>
      <% if reminder.completed == true or reminder.dismissed == true then %>
         <td rowspan="2">
      <% else %>
         <td>
      <% end %>
         <%= link_to 'Show', reminder %>
      </td>
   </tr>
   <% unless reminder.aaction_id.blank? then %>
      <tr>
         <td>&nbsp;</td>
         <td colspan="2"><ul><li>
            Reminder for <%= link_to "#{reminder.aaction.type.descrp} (#{reminder.aaction.dtmailing})", reminder.aaction %>
         </li></ul></td>
      </tr>
   <% end %>
   <% if reminder.completed == true or reminder.dismissed == true then %>
      <tr>
         <td>&nbsp;</td>
         <td colspan="2"><ul>
            <% if reminder.completed == true then %>
               <li>
                  Completed 
                  <% if reminder.completing_action.blank? then %>
                     <%= h reminder.date_completed %>.
                  <% else %>
                     <%= h reminder.date_completed %> by <%= h Type.find(Aaction.find(reminder.completing_action).type_id).desc %> (<%= h Aaction.find(reminder.completing_action).dtmailing %>).
                  <% end %>
               </li>
            <% end %>
            <% if reminder.dismissed == true then %>
               <li>
                  Dismissed  
                  <% if reminder.dismissed_by.blank? then %>
                     <%= h reminder.date_dismissed %>.
                  <% else %>
                     <%= h reminder.date_dismissed %> by <%= h User.find(reminder.dismissed_by).name %>).
                  <% end %>
               </li>
            <% end %>
         </ul></td>
      </tr>
   <% end %>
<% end %>
</table>

<br />
<%if @patcase%>
	<%= link_to 'New reminder', new_patentcase_reminder_path(@patcase) %> ::
<%else%>
	<%= link_to 'New reminder', new_reminder_path %> ::
<%end%>
<%= link_to 'Reminders Page', reminders_path %>
