<h1>New Reminder</h1>

<fieldset>
<legend>
New Reminder
</legend>

<%= form_for(@reminder) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
    <%= render 'shared/error_messages', object: f.object %>


  <div>
    <%= f.label :due_date %>:
    <%= f.date_select "reminder[due_date]", @reminder.due_date %>
  </div>
  <div>
    <%= f.label :case_id %>:
    <%= f.collection_select(:patentcase_id, Patentcase.find(:all), :id, :attorneydocket, {:prompt => true}) %>
  </div>
  <div>
    <%= f.label :note %>:
    <%= f.text_area :note %>
  </div>
  <div>
    <%= f.label :completed %>:
    <%= f.check_box :completed %>
  </div>
  <div>
    <%= f.label :date_completed %>:
    <%= f.date_select "reminder[date_completed]", @reminder.date_completed %>
  </div>
  <div>
    <%= f.label :completing_action %>:
  </div>
  <div>
  <div>
    <%= f.label :dismissed %>:
    <%= f.check_box :dismissed %>
  </div>
  <div>
    <%= f.label :date_dismissed %>:
    <%= f.date_select "reminder[date_dismissed]", @reminder.date_dismissed %>
  </div>
  <div>
    <%= f.label :dismissed_by %>:
    <%= f.collection_select( :dismissed_by, User.find(:all), :id, :name, {:prompt => true}) %>
  </div>
  <div>
    <%= f.submit 'Update' %>
  </div>
<% end %>
</fieldset>

<%= link_to 'Back', reminders_path %> ::
<%= link_to 'User Page', users_path %> ::
<%= link_to 'User/Reminder Page', user_reminders_path %>
