<h1>Listing rstatuses</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Statuscd</th>
  </tr>

<% @rstatuses.each do |rstatus| %>
  <tr>
    <td><%=h rstatus.name %></td>
    <td><%=h rstatus.statuscd %></td>
    <td><%= link_to 'Show', rstatus %></td>
    <td><%= link_to 'Edit', edit_rstatus_path(rstatus) %></td>
    <td><%= link_to 'Destroy', rstatus, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New rstatus', new_rstatus_path %>