<h1>Entities List</h1>

<%= link_to 'Create New Entity', new_entity_path %>
<%= form_tag entities_path, :method => :get, :id => 'entitytypes_form' do %>


  <%= hidden_field_tag "title_sort", true if @title_header %>
  <%= hidden_field_tag ":release_date_sort", true if @date_header %>
  Include:
  <% @all_entitytypes.each do |entitytype| %>
    <%= entitytype %>
    <%= check_box_tag "entitytypes[#{entitytype}]", 1, @selected_entitytypes.include?(entitytype), :id => "entitytypes_#{entitytype}" %>
<%end%>
  <%= submit_tag 'Refresh', :id => 'entitytypes_submit' %>

<table border="1">
  <tr>
    <th>Entity</th>
    <th>Contact</th>
    <th>Notes</th>
  </tr>

<% @entities.sort_by{|e| e.name}.each do |entity| %>
  <tr>

    <!-- Main Entity Column -->
    <td>
       <%= link_to entity.name, entity %>
       <br/><%=h entity.address1 %>
       <% if entity.address2 != '' and entity.address2 != nil %>
          <br/><%=h entity.address2 %>
       <% end %>
       <br/><%=h entity.city %>, <%=h entity.state %> <%=h entity.postalcode %>
       <br/><%=h entity.country %>
       <br/>main: <%=h entity.mainphone %>
       <br/>fax: <%=h entity.mainfax %>
    </td>

    <!-- Entity Contact Column -->
    <td>
       <br/><%=h entity.contactname %>
       <% if entity.contactphone != '' and entity.contactphone != nil %>
          <br/><%=h entity.contactphone %>
       <% end %>
       <% if entity.contactfax != '' and entity.contactfax != nil %>
          <br/><%=h entity.contactfax %>
       <% end %>
       <% if entity.contactemail != '' and entity.contactemail != nil %>
          <br/><%=h entity.contactemail %>
       <% end %>
    </td>

    <!-- Misc Entity Column -->
    <td>
	
	   Type: 
	
		<%=h entity.entitytype %>
    
       <br/>Jurisdiction: <%=h entity.jurisdiction %>
       <br/>Small? <%=h entity.small %>
       <br/>As of:<%=h entity.smallchecked %>
       <br/>Identifier: <%=h entity.id %>
    </td>
    
  </tr>
<% end %>
</table>
<%end%>
<br />

<%= link_to 'Create New Entity', new_entity_path %> ::
<%= link_to 'Back', :back %>