<h1>New Action Type</h1>

<hr />

<%= form_for(@type) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
    <%= render 'shared/error_messages', object: f.object %>


<table>
  <tr>
    <td align="right">
      <%= f.label :desc %>
    </td>
    <td>
      <%= f.text_field :descrp %>
    </td>
  </tr>
  <tr>
    <td align="right">
      <%= f.label :final %>
    </td>
    <td>
      <%= f.check_box :final %>
    </td>
  </tr>
  <tr>
    <td align="right">
      <%= f.label :notes %>
    </td>
    <td>
      <%= f.text_area :notes %>
    </td>
  </tr>
  <tr>
    <td align="center" colspan="2">
      <%= f.submit 'Create' %>
    </td>
  </tr>
</table>
<% end %>

<hr />

<p align="center">
<%= link_to 'See all types', types_path %>
</p>