<h1>Inventor: 
      <%=h @inventor.prefix %> 
      <%=h @inventor.first %> 
      <%=h @inventor.middle %> 
      <%=h @inventor.last %>
      <%=h @inventor.suffix %></h1>

<h2>Name/Entity</h2>
<p>
      <%=h @inventor.prefix %> 
      <%=h @inventor.first %> 
      <%=h @inventor.middle %> 
      <%=h @inventor.last %>
      <%=h @inventor.suffix %><br />
      <%= link_to @inventor.entity.name , @inventor.entity %>    
</p>

<h2>Mailing Address</h2>
<p>
      <%=h @inventor.mastreet1 %><br />
      <% unless @inventor.mastreet2.nil? or @inventor.mastreet2.empty? %>
        <%=h @inventor.mastreet2 %><br />
      <% end %>
      <%=h @inventor.macity %>,
      <%=h @inventor.mastate %>
      <%=h @inventor.mapostalcode %><br />
      <%=h @inventor.macountry %>
</p>

<h2>Citizenship Residence</h2>
<p>
      <%=h @inventor.citizenship %> citizen.<br />
      Resident of <%=h @inventor.resstate %>, 
      <%=h @inventor.rescountry %>.
</p>


<h2>Contact</h2>
<p>
      e: <%=h @inventor.email %><br />
      p: <%=h @inventor.phone1 %><br />
      p: <%=h @inventor.phone2 %><br />
      p: <%=h @inventor.phone3 %><br />
</p>

<h2>Case(s) on file:</h2>
<ul>
<% @inventor.patentcases.each do |patentcase|%>  
   <li><%= link_to patentcase.attorneydocket, patentcase %>&nbsp;
   <%=h patentcase.title%></li>
<%end%>
</ul>

<%= link_to 'Edit', edit_inventor_path(@inventor) %> ::
<%= link_to 'Delete this Inventor', @inventor, :confirm => 'Are you sure?', :method => :delete %> ::
<%= link_to 'List Inventors', inventors_path %> ::
<%= link_to 'Back', :back %>