<br><h1>Ivey Docket</h1>
<ul>
<li><%= link_to "Entities", entities_path %><br>
<li><%= link_to "Patent cases and dates calculations", patentcases_path %><br>
<li><%= link_to "Priorities", priorities_path %><br>
<li><%= link_to "Inventors", inventors_path %><br>
<li><%= link_to "Inventorships", inventorships_path %><br>

<li><%= link_to "Action Types", types_path %><br>
<li><%= link_to "Events", events_path %><br>
<li><%= link_to "Rules", rules_path %><br>
<li><%= link_to "Actions and due dates", aactions_path %><br>
</ul>
<p></p>
