<h1>Editing countrycode</h1>

<%= form_for(@countrycode) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
    <%= render 'shared/error_messages', object: f.object %>


  <p>
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </p>
  <p>
    <%= f.label :ccode %><br />
    <%= f.text_field :ccode %>
  </p>
  <p>
    <%= f.label :cname %><br />
    <%= f.text_field :cname %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @countrycode %> |
<%= link_to 'Back', countrycodes_path %>