<p>
  <b>Id:</b>
  <%=h @countrycode.id %>
</p>

<p>
  <b>Ccode:</b>
  <%=h @countrycode.ccode %>
</p>

<p>
  <b>Cname:</b>
  <%=h @countrycode.cname %>
</p>


<%= link_to 'Edit', edit_countrycode_path(@countrycode) %> |
<%= link_to 'Back', countrycodes_path %>