<h1>New Reference Date Type</h1>

<%= form_for(@refdttype) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
    <%= render 'shared/error_messages', object: f.object %>


  <p>
    <%= f.label :dttype %><br />
    <%= f.text_field :dttype %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_field :notes %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'List All', refdttypes_path %>