<p>
  <b>Inventor:</b>
  <%=h @caseinventor.inventor_id %>
</p>

<p>
  <b>Patentcase:</b>
  <%=h @caseinventor.patentcase_id %>
</p>

<p>
  <b>Note:</b>
  <%=h @caseinventor.note %>
</p>


<%= link_to 'Edit', edit_caseinventor_path(@caseinventor) %> |
<%= link_to 'Back', caseinventors_path %>