<h1>New casewatching</h1>

<%= form_for(@casewatching) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
    <%= render 'shared/error_messages', object: f.object %>


  <p>
    <%= f.label :watcher_id %><br />
    <%= f.text_field :watcher_id %>
  </p>
  <p>
    <%= f.label :watchee_id %><br />
    <%= f.text_field :watchee_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', casewatchings_path %>