<h1>Actions</h1>

<table border="1">
  <tr>
    <th>Patentcase</th>
    <th>Type</th>
    <th>Date of mailing</th>
	    <th>Notes</th>
  </tr>
	<% @aactions.each do |aaction| %>
   
    <td><%=link_to Patentcase.find(aaction.patentcase_id).attorneydocket,Patentcase.find(aaction.patentcase_id) %></td>
    <td><%= link_to Type.find(aaction.type_id).descrp, Type.find(aaction.type_id) %></td>

    <td><%=link_to aaction.dtmailing, aaction %></td>

<td>
	<%=aaction.notes%>
	</td>
    <td>
	<%if @patcase%>
      <%= link_to 'Show', entity_patentcase_aaction_path(@entity,@patcase,aaction) %>
      <%= link_to 'Edit', edit_entity_patentcase_aaction_path(@entity,@patcase, aaction) %>
	<%else%>
		<%= link_to 'Show', aaction %>
	    <%= link_to 'Edit', edit_aaction_path(aaction) %>   
	<%end%>
      <%= link_to 'Destroy', aaction, :confirm => 'Are you sure?', :method => :delete %>
    </td>
 
  </tr>
<% end %>
</table>
Total for this Patentcase: <%= @aactions.size.to_s%> actions.
<hr />
<%if @patcase%>
	<%= link_to 'New action', new_patentcase_aaction_path(@patcase) %>
<%else%>
	<%= link_to 'New action', new_aaction_path(@patcase) %>
<%end%>