<h1>View Action</h1>
<p> 
<b><%= link_to @aaction.patentcase.attorneydocket, @aaction.patentcase %></b>
  <br />
<%= link_to @aaction.type.descrp, @aaction.type %><br />
 <b>Dated:
  <%=h @aaction.dtmailing.to_s %></b><br />
<% unless @aaction.notes.empty? then %>
  <b>Notes:</b>
  <%=h @aaction.notes %>
<% end %>
</p>
<table>
  <tr><th align="center" colspan="5">
    Applicable reminders:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= link_to 'Manage Rules', rules_path %>
  </th></tr>
  <tr>
      <th>Due</th>
      <th>Notes</th>
      <th>&nbsp;</th>
  </tr>
  <% @aaction.reminders.each do |reminder| %>
      <% unless reminder.completed? or reminder.dismissed? then %>
         <tr>
            <td>
               <%= h reminder.due_date %>
            </td>
            <td>
               <%= h reminder.note %>
            </td>
			<%if @case and @aaction%>
            	<td><%= link_to 'View', entity_patentcase_aaction_reminder_path(@entity,@case, @aaction, reminder) %></td>
			<%elsif @aaction%>
				<td><%= link_to 'View', aaction_reminder_path(@aaction,reminder) %></td>
			<%else%>
				<td><%= link_to 'View', reminder %></td>
			<%end%>

			
         </tr>
      <% end %>
  <% end %>
</table>  <!-- end of sub-sub-table for reminders of this action and this rule -->

  
<hr />  

<%if @case%>
	<%= link_to 'Edit this action', edit_entity_patentcase_aaction_path(@entity,@case,@aaction) %> ::
	<%= link_to 'List actions', entity_patentcase_aactions_path(@entity,@case) %> ::
<%else%>
	<%= link_to 'Edit this action', edit_aaction_path(@aaction) %> ::
	<%= link_to 'List actions', aactions_path %> ::
<%end%>
<%= link_to 'Destroy this action', @aaction, :confirm => 'Are you sure?', :method => :delete %> ::

<%= link_to 'Back', :back %>