<h1>New actionrulelink</h1>

<%= form_for(@actionrulelink) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
    <%= render 'shared/error_messages', object: f.object %>


  <p>
    <%= f.label :rule_id %><br />
  
            <%= f.collection_select(:rule_id, Rule.find(:all), :id, :desc, {:prompt => true}) %>

  </p>
  <p>
    <%= f.label :aaction_id %><br />
    
            <%= f.collection_select(:aaction_id, Aaction.find(:all), :id, :notes, {:prompt => true}) %>

  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'All Links', actionrulelinks_path %>&nbsp;&nbsp;<%= link_to 'Manager Actions ', aactions_path %>
&nbsp;&nbsp;<%= link_to 'Manager Rules ', rules_path %>
<%= link_to 'Manage Rules', rules_path %>&nbsp;&nbsp;&nbsp;<%= link_to 'Manage Actions', aactions_path %>