<header>
  <%= link_to main_title, root_path %>
  <p>

	</p>
<%if params[:entity_id]%>
	<%@entity = Entity.find(params[:entity_id])%>
<%end%>
<%if params[:patentcase_id]%>
	<%@patentcase = Patentcase.find(params[:patentcase_id])%>
	<%@entity = @patentcase.entity%>
<%end%>

<%if params[:aaction_id]%>
	<%@action = Aaction.find(params[:aaction_id])%>
<%end%>

  <nav class="round">
    <ul>
      <% if signed_in? %>

		<div id="sideBar">
			<h1>Attorney Docket Management</h1>
			Hi, <%=current_user.name  %>
			
		<ul>
		<li><%= link_to "Entities", entities_path %></li>
		<%if @entity%>
			<li><%= link_to "Patent Cases", entity_patentcases_path(@entity) %></li>
			<li><%= link_to "Inventors", entity_inventors_path(@entity) %></li>
		<%else%>
			<li><%= link_to "Patent Cases", patentcases_path %></li>
			<li><%= link_to "Inventors", inventors_path %></li>
		<%end%>
		
		<li><%= link_to "Inventorships", inventorships_path %></li>
		<li><%= link_to "Action Types", types_path %></li>
		
		<%if @patentcase%>
			<li><%= link_to "Actions", patentcase_aactions_path(@patentcase) %></li>
			
			<%if @action%>
	      		<li><%= link_to "Reminders", entity_patentcase_aaction_reminders_path(@entity,@patentcase,@action) %></li>
			<%else%>
				<li><%= link_to "Reminders", patentcase_reminders_path(@patentcase) %></li>
			<%end%>
			
		<%else%>
			<li><%= link_to "Actions", aactions_path %></li>
			<li><%= link_to "Reminders", reminders_path %></li>
		<%end%>
		
		<li><%= link_to "Rules", rules_path %></li>
	</ul>
	<li><%=''%></li>
	<ul>
			<li><%= link_to "Post/Tweet", root_path %></li>
	        <li><%= link_to "Profile", current_user %></li>
	        <li><%= link_to "Users", users_path %></li>
	        <li><%= link_to "Settings", edit_user_path(current_user) %></li>

		      <li><%= link_to "Your Account", current_user %></li>
			<li><%= link_to "Sign out", signout_path, :class => "signout_button round" %></li>

		   </ul>
	
		<li><%=''%></li>
	
		
			<%= render 'layouts/footer' %>
			
			</div>
    	<% else %>
		   <div id="sideBar">
				<h1>Attorney Docket Management</h1>
				<ul>
	    			<li><%= link_to "Sign up", signup_path %></li>
		        	<li><%= link_to "Sign in", signin_path %></li>
			      	<li><%= link_to "Help", help_path %></li>
				</ul>
			</div>
      <% end %>
   </ul>
  </nav>
</header>



