<header>
  <%= link_to logo, root_path %>
  <p>

	</p>

  <nav class="round">
    <ul>
      <% if signed_in? %>

		Hi, <%=current_user.name  %>
			<li><%= link_to "Post/Tweet", root_path %></li>
	        <li><%= link_to "Profile", current_user %></li>
	        <li><%= link_to "Users", users_path %></li>
	        <li><%= link_to "Settings", edit_user_path(current_user) %></li>
		   <ul>
		      <li><%= link_to "Your Account", current_user %></li>
		      <li><%= link_to "Reminders", reminders_path %></li>
		      <li><%= link_to "Patent Cases", patentcases_path %></li>
		      <li><%= link_to "Actions", aactions_path %></li>
		      <li><%= link_to "Inventors", inventors_path %></li>
		      <li><%= link_to "Entities", entities_path %></li>
		   </ul>
			<li><%= link_to "Sign out", signout_path, :class => "signout_button round" %></li>
     	<% else %>

    		<li><%= link_to "Sign up", signup_path %></li>
        	<li><%= link_to "Sign in", signin_path %></li>
      <% end %>
      <li><%= link_to "Help", help_path %></li>
   </ul>
  </nav>
</header>



